<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linjiasong.user.mapper.UserLikeMapper">

    <select id="getLikeNums" resultType="int">
        select COUNT(*) from user_like where be_liked_id = #{beLikedId} and type = 1;
    </select>

</mapper>